.dashicons-star-filled{
     color: #e7711b;
}
 #wdac_logo_display{
     max-height: 150px;
     max-width: 150px;
}
 form .error {
     color: #d03c3c;
     margin-left: 15px;
     font-weight: 500;
}
 .go-pro{
     position: relative;
     max-width: 700px;
     background: #FFFFFF;
     box-shadow: 1px 1px 3px #000;
     display: flex;
     flex-direction: column;
}
 .pro-inner{
     position: relative;
     padding: 0 25px 25px 25px;
     display: flex;
     align-items: center;
     flex-wrap: nowrap;
}
 .pro-h2{
     position: relative;
     padding: 25px 0 0 25px ;
}
 .pro-h2 h2{
     margin: 0;
}
 .pro-top{
     width: 100%;
     position: relative;
}
 .pro-btn{
     position: absolute;
     top:5px;
     left: 663px;
     padding: 5px;
     font-size: 1.5em;
     width: 15px;
     z-index: 2;
     cursor:pointer;
}
 .pro-list{
     list-style: disc;
}
 .pro-list li{
     font-size: 12px;
}
 .pro-left{
     width: 40%;
     margin-left: 25px;
}
 .pro-right{
     width: 60%;
     margin-left: 15px;
}
 .features{
     margin-right: 20px !important;
}
 .pro-buttons{
     display: flex;
     justify-content: space-evenly;
     padding: 10px;
}
